.container {
    position: relative;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

#disable{
    cursor: wait;
}

#enable{
    display: none;
}

a{
    text-decoration: none;
    color: black;
}